*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Roboto",sans-serif;
    color: white;
}

body{
    background-color: blanchedalmond;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: black;
    width: 303px;
    padding: 32px 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.82);
}

button{
    background-color: rgb(101, 101, 101);
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 21px;;
}

.io-display{
    background-color: rgb(74, 74, 74);
    padding: 12px;
    margin-bottom: 16px;
    text-align:right;
    border-radius: 8px;
}

.buttons button{
    flex: 0 0 60px;
    height: 60px;
}

.buttons .operation{
    background-color: orange;
}

.buttons button.zero{
    flex: 1 0 auto;
}

.buttons .ac{
    background-color: rgb(255, 74, 74);
}